<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
  <script>
    const socket = io('ws://localhost:81');

    socket.on('connect', function() {
      console.error('Connected');

      socket.emit('start', {name: 'test'});

      // setTimeout(() => {
      //   socket.emit('stop');
      // }, 5000)
    });

    socket.on('data-package', function(data) {
      console.log('data', data);
    });

    socket.on('exception', function(data) {
      console.log('event', data);
    });

    socket.on('connect_error', function(data) {
      console.log('connect_error', data);
    });

    socket.on('disconnect', function() {
      console.log('Disconnected');
    });
  </script>
</head>
<body>
socket communication test
</body>
</html>